<h5 class="title center-align">Bolsistas</h5>
<div class="row">
	<div class="container">
		<% @students.each do |student| %>
			<div class ="row">
				<%= student.name %><br>
				<%= student.course %><br>
				<%= student.research %>
			</div>
		<% end %>
	</div>
</div>