
<table>
  <thead>
    <tr>
      <th data-field="id">Código</th>
      <th data-field="name">Nome</th>
      <th data-field="price">Créditos</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= sub.code %></td>
      <td><%= sub.name %></td>
      <td><%= sub.credit %></td>
    </tr>
  </tbody>
</table>