.nome {
	font-weight: bold;
}

.foto {
	max-width: 250px;
	max-height: 200px;
	width: auto;
	height: auto;
}

.title{

	padding-top: 30px;
	padding-bottom: 50px;
}

.social{
	width: 1.5em;
	height: 1.5em;
}

.link {
	text-decoration: none;	
}

